:root {
  /* Colors */
  --g_primary: #21f55c;
  --g_secondary: hsl(142, 76%, 36%);
  --g_tertiary: hsl(142, 72%, 29%);

  /* Other Colors */
  --footer-dark: #000000;
  --oxford-blue: hsl(224, 34%, 13%);
  --maximum-red: hsl(0, 72%, 51%);
  --mint-cream: #f2e98a;
  --cadet-gray: hsl(215, 20%, 65%);
  --light-gray: hsl(216, 12%, 84%);
  --gainsboro: hsl(220, 13%, 91%);
  --white_70: hsla(0, 0%, 100%, 0.7);
  --gunmetal: hsl(215, 28%, 17%);
  --manatee: hsl(218, 11%, 65%);
  --mango: hsl(43, 96%, 56%);
  --white: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/pexels-login.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}

.container-form {
  width: 90%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  transition: all 0.5s ease-out;
}

.welcome-back {
  display: flex;
  align-items: center;
  text-align: center;
}

.message {
  padding: 1rem;
  color: var(--white);
  background-color: rgb(51, 51, 51, 0.25);
}

.message h2 {
  font-size: 1.7rem;
  padding: 1rem 0;
  color: var(--white);
}

.message p {
  color: var(--white);
  font-weight: bold;
}

.message button {
  padding: 1rem;
  font-weight: 400;
  background-color: #4a4aee;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 2rem;
  transition: all 0.3s ease-in;
  color: #fff;
}

.message button:hover {
  background-color: #6464f8;
}

.formulario {
  width: 400px;
  padding: 1rem;
  margin: 1.7rem;
  background-color: rgb(51, 51, 51, 0.602);
  text-align: center;
}

.create-account {
  padding: 2.7rem 0;
  font-size: 1.7rem;
}

.iconos {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.border-icon {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border: solid thin var(--white);
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all 0.3s ease-in;
}

.border-icon:hover {
  background-color: #4a4aee;
  cursor: pointer;
}

.cuenta-gratis {
  padding: 1.2rem 0;
}

.formulario input, .formulario select {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 1.2rem;
  background-color: transparent;
  border: none;
  border-bottom: var(--white) thin solid;
  text-align: center;
  outline: none;
  padding: 0.1rem 0;
  font-size: 0.9rem;
  color: var(--white);
}

.formulario input[type="submit"] {
  width: 60%;
  margin: auto;
  border: solid thin var(--white);
  padding: 0.6rem;
  border-radius: 2rem;
  background-color: var(--white);
  font-weight: 600;
  margin-top: 1.4rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: #222;
}

.sign-in {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.sign-in.active {
  opacity: 1;
  visibility: visible;
}

.sign-up.active {
  opacity: 0;
  visibility: hidden;
}
