@media screen and (max-width: 768px) {
  /* ===== =====>>  Container Css Start  <<===== ===== */
  .container-profile {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "userProfile"
      "userDetails"
      "work_skills"
      "timeline_about";
    overflow-x: hidden;
    overflow-y: inherit;
    padding: 0;
    width: 90%;
    height: 100%;
    box-shadow: none;
  }

  /* ===== =====>>  Container Card Css Start  <<===== ===== */
  .container-profile .card_p {
    backdrop-filter: none;
  }

  .userDetails {
    margin-bottom: 3rem;
  }

  .container-profile::before,
  .container-profile::after {
    display: none;
  }

  /* ===== =====>>  Header/Navbar Css Start  <<===== ===== */
  .container-profile .hd-area {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 500px) {
  .container-profile {
    width: 100%;
    overflow: initial;
  }
}

@media screen and (max-width: 350px) {
  .main_bg {
    animation: none;
  }
}
