{% extends "layout.html" %}
{% block title%}Subir Propiedad{% endblock %}
    {% block content%}

    <div class="content">
        <div class="content-b">
          <h1 class="brand">Green <span>Home</span></h1>
      
          <div class="contact-wrapper animate__animated animate__bounceInUp">
            <div class="contact-form p-5">
              <h3>Ingreso de Inmuebles</h3>
              <form class="" action="">
                <p>
                  <label for="fullname">Tipo Inmueble</label>
                  <input type="text" name="fullname" id="fullname" />
                </p>
                <p>
                  <label for="email">Dirección</label>
                  <input type="email" name="email" id="email" />
                </p>
                <p>
                  <label for="phone">Ciudad</label>
                  <input type="tel" name="phone" id="phone" />
                </p>
                <p>
                  <label for="affair">Teléfono</label>
                  <input type="text" name="affair" id="affair" />
                </p>
                <p>
                    <label for="price">Precio</label>
                    <input type="tel" name="price" id="price" />
                  </p>
                  <p>
                    <label for="moneda">Moneda</label>
                    <input type="text" name="moneda" id="moneda" />
                  </p>
                  <p class="block">
                    <label for="imagenes">Imágenes de inmueble</label>
                    <input type="file" name="imagenes" id="imagenes" />
                  </p>
                <p class="block">
                  <label>Descripción</label>
                  <textarea name="message" rows="3"></textarea>
                </p>
                <p class="block">
                  <button type="submit">Subir Propiedad</button>
                </p>
              </form>
            </div>
            <div class="contact-info p-5">
              <h4>Más Información</h4>
              <ul>
                <li><i class="fas fa-map-marker-alt"></i> Managua, Nicaragua.</li>
                <li><i class="fas fa-phone"></i> (+505) 7682 4820</li>
                <li>
                  <i class="fas fa-envelope-open-text"></i>
                  greenhomerealstate@gmail.com
                </li>
              </ul>
              <p>
                Queremos apoyar a nuestros usuarios en todo su proceso de venta de su
                propiedad o búsqueda de su nuevo hogar.
              </p>
              <p><i class="fas fa-duotone fa-city"></i> Green Home Real State</p>
            </div>
          </div>
        </div>
      </div>



    {% endblock %}