{% extends "layout.html" %} {% block title%}Subir Propiedad{% endblock %} {%
block content%}

<div class="content">
  <div class="content-b">
    <h1 class="brand">Green <span>Home</span></h1>

    <div class="contact-wrapper animate__animated animate__bounceInUp">
      <div class="contact-form p-5">
        <h3>Ingreso de Inmuebles</h3>
        <form class="" action="/enter_propertie" method="post" enctype="multipart/form-data">
          <p>
            <label for="inmueble">Tipo Inmueble</label>
            <!-- <input type="text" name="fullname" id="fullname" /> -->
            <select name="inmueble">
              {% for imb in tipo_inmueble%}
              <option style="background-color: green;" value="{{ imb['codigo_tipo'] }}">
                {{ imb["descripcion"]}}
              </option>
              {% endfor %}
            </select>
          </p>
          <p>
            <label for="tipo_transaccion">Tipo Transaccion</label>
            <!-- <input type="text" name="fullname" id="fullname" /> -->
            <select name="tipo_transaccion">
              {% for trans in tipo_trans %}
              <option style="background-color: green;" value="{{ trans['codigo_transaccion'] }}">
                {{ trans['descripcion']}}
              </option>
              {% endfor %}
            </select>
          </p>
          <p>
            <label for="city">Ciudad</label>
            <!-- <input type="tel" name="city" id="phone" /> -->
            <select name="city">
              {% for city in cities %}
              <option style="background-color: green;" value="{{ city['codigo_ciudad'] }}">
                {{ city["nombre"]}}
              </option>
              {% endfor %}
            </select>
          </p>
          <p>
            <label for="phone">Teléfono</label>
            <input type="text" name="phone" id="affair" />
          </p>
          <p>
            <label for="price">Precio</label>
            <input type="number" name="price" id="price" step="0.1" />
          </p>
          <p>
            <label for="moneda">Moneda</label>
            <input type="text" name="moneda" id="moneda" />
          </p>
          <p class="block">
            <label for="address">Dirección</label>
            <input type="text" name="address" id="email" />
          </p>
          <p class="block">
            <label for="images">Imágenes de inmueble</label>
            <input type="file" name="images" id="imagenes" />
          </p>
          <p class="block">
            <label for="description">Descripción</label>
            <textarea name="description" rows="3"></textarea>
          </p>
          <p class="block">
            <button type="submit">Subir Propiedad</button>
          </p>
        </form>
      </div>
      <div class="contact-info1 p-5">
        <h4>Más Información</h4>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i> Managua, Nicaragua.</li>
          <li><i class="fas fa-phone"></i> (+505) 7682 4820</li>
          <li>
            <i class="fas fa-envelope-open-text"></i>
            greenhomerealstate@gmail.com
          </li>
        </ul>
        <p>
          Queremos apoyar a nuestros usuarios en todo su proceso de venta de su
          propiedad o búsqueda de su nuevo hogar.
        </p>
        <p><i class="fas fa-duotone fa-city"></i> Green Home Real State</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
