<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- WebSite Meta Information -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Mobile -->
    <meta name="robots" content="index,follow" />
    <!-- SEO -->
    <meta
      name="description"
      content="Green Home Real State, we are a web service of easy access to the general public, with the purpose of being a trusted intermediary to facilitate the process of buying and selling real estate in Nicaragua."
    />
    <meta name="author" content="Oscar Daniel Arias Guzmán." />
    <meta name="copyright" content="Oscar Daniel Arias Guzmán." />
    <meta name="keywords" content="Real State, casa, casas, green, home" />
    <title>Green Home Real State - Log in</title>
    <link rel="icon" href="page.ico" />
    <!-- Adding web page tab icon -->

    <!-- Place pageIco.ico in the root directory -->

    <!-- Adding the normalize tool for correct rendering in a variety of browsers -->
    <link
      href="{{ url_for('static', filename='css/normalize.css') }}"
      rel="preload"
      as="style"
    />
    <!-- Preload -->
    <link
      href="{{ url_for('static', filename='css/normalize.css') }}"
      rel="stylesheet"
    />

    <!-- Adding styles to the web site with the css language -->
    <link
      href="{{ url_for('static', filename='css/log_in.css') }}"
      rel="preload"
      as="style"
    />
    <!-- Preload -->
    <link
      href="{{ url_for('static', filename='css/log_in.css') }}"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Adding fonts styles from google fonts -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      crossorigin="crossorigin"
      as="font"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container-form sign-up">
      <div class="welcome-back">
        <div class="message">
          <h2>Bienvenido a Green Home Real State</h2>
          <p>Si ya tienes una cuenta por favor inicia sesión aquí.</p>
          <button class="sign-up-btn">Iniciar Sesión</button>
        </div>
      </div>
      <form class="formulario" action="/register" method="post" id="register">
        <h2 class="create-account">Crear cuenta Green Home</h2>

        <p class="cuenta-gratis">Green Home Account</p>
        <input type="text" placeholder="Nombre completo" name="name" id="name"/>
        <input type="email" placeholder="Email" name="email" id="email"/>
        <input list="pais" type="text" placeholder="País" name="country" id="country"/>
        <datalist id="pais">
          <option value="N"></option>
        </datalist>
        <input type="text" placeholder="Domicilio" name="address" id="address"/>
        <input type="text" placeholder="Telefóno" name="phone" id="phone"/>
        <input type="password" placeholder="Contraseña" name="password" id="password"/>
        <input type="submit" value="Registrarse"/>
      </form>
    </div>
    <div class="container-form sign-in">
      <form class="formulario">
        <h2 class="create-account">Iniciar Sesión</h2>
        <p class="cuenta-gratis">¿Aun no tienes una cuenta?</p>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Contraseña" />
        <input type="submit" value="Iniciar Sesion" />
      </form>
      <div class="welcome-back">
        <div class="message">
          <h2>Bienvenido Nuevamente a Green Home Real State</h2>
          <p>Si aún no tienes una cuenta por favor registrese aquí.</p>
          <button class="sign-in-btn">Registrarse</button>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js%22%3E"></script>

    <!-- JavaScript Code -->
    <script src="{{ url_for('static', filename='scripts/log_in.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/validate_form.js') }}"></script>
  </body>
</html>
