{% extends "layout.html" %} {% block title%}Propiedades{% endblock %} {% block
content%}

<div class="contenedor_about row d-flex justify-content-center align-items-center animate__animated animate__zoomInDown">
  <h1 class="text-center mt-3 mb-1">Un proceso simple y sencillo</h1>
  <div class="card m-3 p-3" style="width: 28rem; height: 57rem">
    <div class="overflow">
      <img src="../static/images/card1.png" class="card-img-top" alt="Imagen servicios" loading="lazy"/>
    </div>
    <div class="card-body">
      <p class="card-text text-center">
        Usted es una persona ocupada, por lo que haremos que su búsqueda de
        vivienda sea fácil y divertida, a la vez que le proporcionamos un
        informe detallado que le informa de todos los detalles de la casa y del
        vecindario. Encuentre la casa perfecta para usted.
      </p>
    </div>
  </div>
  <div class="card m-3 p-3 " style="width: 28rem; height: 57rem">
    <div class="overflow">
      <img src="../static/images/card2.png" class="card-img-top" alt="Imagen servicios" loading="lazy"/>
    </div>
    <div class="card-body">
      <p class="card-text text-center">
        Ha llegado el momento de pasar al siguiente nivel en la búsqueda de
        inmuebles en Internet y ver algunas casas disponibles en nuestro sitio.
        Aprovecha al máximo tu visita en nuestro sitio web, ya que es posible
        que solo veas una casa disponible en poco tiempo.
      </p>
    </div>
  </div>
  <div class="card m-3 p-3 " style="width: 28rem; height: 57rem">
    <div class="overflow">
      <img src="../static/images/card3.png" class="card-img-top" alt="Imagen servicios" loading="lazy"/>
    </div>
    <div class="card-body">
      <p class="card-text text-center">
        La compra de la casa perfecta es una inversión importante. Ser
        propietario de una vivienda es un hito importante en la vida. Ser
        propietario de una vivienda proporciona a sus dueños una sensación de
        seguridad y estabilidad financiera.
      </p>
    </div>
  </div>
  <div class="card m-3 p-3 " style="width: 28rem; height: 57rem">
    <div class="overflow">
      <img src="../static/images/card4.png" class="card-img-top" alt="Imagen servicios" loading="lazy"/>
    </div>
    <div class="card-body">
      <p class="card-text text-center">
        El hogar es la base de nuestra vida y felicidad. Es donde pasamos la
        mayor parte del tiempo. Ser propietario de una casa es una inversión
        para toda la vida que podría pasar por generaciones, así que asegúrate
        de cuidarla para que tu casa dure todo lo que necesites.
      </p>
    </div>
  </div>
</div>

<div class="container-search">
  <div class="box">
    <input list="propiedades" type="text" id="buscador" placeholder="Ciudad">
    <datalist id="propiedades">
      {% for dat1 in props %}
        <option value="{{ dat1['ciudad'] }}">
      {% endfor %}
    </datalist>

    <input list="prop_type" type="text" id="buscador" placeholder="Tipo de Inmueble">
    <datalist id="prop_type">
      {% for dat2 in props_type %}
        <option value="{{ dat2['descripcion'] }}">
      {% endfor %}
    </datalist>

    <input list="prop_type1" type="text" id="buscador" placeholder="Tipo de Transacción">
    <datalist id="prop_type1">
      {% for dat3 in props_type1 %}
        <option value="{{ dat3['descripcion'] }}">
      {% endfor %}
    </datalist>

    <!-- <select name="select">
      {% for dat2 in props_type %}
      <option value="{{ dat2['codigo_tipo'] }}">{{ dat2['descripcion'] }}</option>
      {% endfor %}
    </select> -->
  </div>
  <!-- <button type="button" class="call-butt1">Buscar</button> -->
</div>
</div>

<div class="contenedor_about row d-flex justify-content-center align-items-center">
  {% for asset in props %}
  <div class="card m-3" style="width: 30rem;">
    <div class="overflow">
      <img src="{{ asset['imagen'] }}" class="card-img-top" alt="Imagen Propiedad" loading="lazy">
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">{{ asset['tipoinmueble'] }}</h5>
      <p class="card-text">{{ asset['descripcion'] }}</p>
      <p class="card-text text-center" style="color: green;">{{ asset['ciudad'] }}</p>
      <p class="card-text text-center" style="color: hsl(142, 72%, 29%); font-weight: bold;">{{ asset['moneda'] }} {{ asset['precio'] }}</p>
      <p class="card-text text-center" style="color: darkcyan; font-weight: bold;">{{
        asset['tipotransaccion'] }}</p>
      <div class="d-flex justify-content-center">
        <a href="/propertie_info/{{asset.codigo_propiedad}}" class="btn btn-success" style="font-weight: bold; font-size: 15px;">Detalles</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}
