{% extends "layout.html" %} {% block title%}Propiedades{% endblock %} {% block
content%}

<div class="contenedor_about row d-flex justify-content-center align-items-center">
  <h1 class="text-center mt-3 mb-1">Un proceso simple y sencillo</h1>
  <div class="card m-3 p-3" style="width: 28rem; height: 57rem">
    <div class="overflow">
      <img src="../static/images/card1.png" class="card-img-top" alt="Imagen servicios" loading="lazy"/>
    </div>
    <div class="card-body">
      <p class="card-text text-center">
        Usted es una persona ocupada, por lo que haremos que su búsqueda de
        vivienda sea fácil y divertida, a la vez que le proporcionamos un
        informe detallado que le informa de todos los detalles de la casa y del
        vecindario. Encuentre la casa perfecta para usted.
      </p>
    </div>
  </div>
  <div class="card m-3 p-3 " style="width: 28rem; height: 57rem">
    <div class="overflow">
      <img src="../static/images/card2.png" class="card-img-top" alt="Imagen servicios" loading="lazy"/>
    </div>
    <div class="card-body">
      <p class="card-text text-center">
        Ha llegado el momento de pasar al siguiente nivel en la búsqueda de
        inmuebles en Internet y ver algunas casas disponibles en nuestro sitio.
        Aprovecha al máximo tu visita en nuestro sitio web, ya que es posible
        que solo veas una casa disponible en poco tiempo.
      </p>
    </div>
  </div>
  <div class="card m-3 p-3 " style="width: 28rem; height: 57rem">
    <div class="overflow">
      <img src="../static/images/card3.png" class="card-img-top" alt="Imagen servicios" loading="lazy"/>
    </div>
    <div class="card-body">
      <p class="card-text text-center">
        La compra de la casa perfecta es una inversión importante. Ser
        propietario de una vivienda es un hito importante en la vida. Ser
        propietario de una vivienda proporciona a sus dueños una sensación de
        seguridad y estabilidad financiera.
      </p>
    </div>
  </div>
  <div class="card m-3 p-3 " style="width: 28rem; height: 57rem">
    <div class="overflow">
      <img src="../static/images/card4.png" class="card-img-top" alt="Imagen servicios" loading="lazy"/>
    </div>
    <div class="card-body">
      <p class="card-text text-center">
        El hogar es la base de nuestra vida y felicidad. Es donde pasamos la
        mayor parte del tiempo. Ser propietario de una casa es una inversión
        para toda la vida que podría pasar por generaciones, así que asegúrate
        de cuidarla para que tu casa dure todo lo que necesites.
      </p>
    </div>
  </div>
</div>

<div class="container-search">
  <div class="box">
    <select name="select">
      <option value="value1">Ubicación</option>
    </select>
    <select name="select">
      <option value="Tipo Propiedad">Tipo Propiedad</option>
    </select>
    <select name="select">
      <option value="value1">Rango Precio</option>
    </select>
  </div>
  <button type="button" class="call-butt1">Buscar</button>
</div>
</div>

{% endblock %}
